<!DOCTYPE html>
<html lang="en" data-ng-app="taskApp">
<head>
    <meta charset="UTF-8">
    <title>Task Manager</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/style.css">
</head>
<body data-ng-controller="baseCtrl">

<!-- HEADER START -->
<div class="fixed-to-top">
    <header class="header">
        <div class="container flex-container">
            <button class="add-task">
                <span></span>
                <span></span>
            </button>
            <nav class="user-nav">
                <a href="#"><i class="icon icon-user"></i></a>
                <a href="#"><i class="icon icon-logout"></i></a>
            </nav>
        </div>
    </header>
    <div class="toggle-class-type">
        <div class="container">
            <nav class="togle-task-list">
                <a href="" data-ng-class="{'active': activeTab == 'activeTask'}" data-ng-click="activeTab = 'activeTask'">Активные задачи</a>
                <a href="" data-ng-class="{'active':activeTab == 'allTask'}" data-ng-click="activeTab = 'allTask'">Все задачи</a>
            </nav>
        </div>
    </div>
</div>
<!-- HEADER END -->
<!-- MAIN START -->
<main>
    <div class="task-content" data-ng-class="{'active': activeTab == 'activeTask'}" data-ng-if="activeTab == 'activeTask'" id="active-task">
        <div class="container">
            <div data-ng-repeat="tasks in allSortedTask">
                <div class="task-day">
                    <span class="day">09</span>
                    <span class="month">фев</span>
                </div>
                <div class="all-task-wrap">
                    <div class="task open" data-ng-class="{ 'warning': task.dateInMs < currentDate}" data-ng-repeat="task in tasks">
                        <div class="to-do-time">{{task.time}}</div>
                        <div class="task-header flex-container">
                            <span class="icon icon-arrow"></span>
                            <div class="short-task-text">{{task.taskText}}</div>
                            <span class="icon icon-cancel"></span>
                        </div>
                        <div class="task-content-wrap">
                            <div class="time-row flex-container">
                                <div class="task-icon">
                                    <span class="icon icon-time"></span>
                                </div>
                                <span class="time">{{task.time}}</span>
                                <div class="task-icon">
                                    <span class="icon icon-bell"></span>
                                </div>
                            </div>
                            <div class="task-text-row flex-container">
                                <div class="task-icon">
                                    <span class="icon icon-list"></span>
                                </div>
                                <div class="text">{{task.taskText}}</div>
                            </div>
                            <div class="task-check-row check-current flex-container">
                                <div class="task-icon">
                                    <span class="icon icon-check"></span>
                                </div>
                                <div class="check">
                                    <input type="checkbox" name="status" id="status">
                                    <label for="status">Задача еще не выполнена</label>
                                </div>
                            </div>
                            <div class="task-edit-row flex-container">
                                <div class="task-icon">
                                    <span class="icon icon-edit"></span>
                                </div>
                            </div>
                        </div>
                        <div class="task-message deadline">
                            <div class="message-row flex-container">
                                <div class="task-icon">
                                    <span class="icon icon-warning"></span>
                                </div>
                                <div class="text">
                                    <p>Вы не выполнили эту задачу</p>
                                </div>
                            </div>
                        </div>
                        <div class="task-message done">
                            <div class="message-row flex-container">
                                <div class="task-icon">
                                    <span class="icon icon-star"></span>
                                </div>
                                <div class="text">
                                    <p>Поздравляем!</p>
                                    <p>Вы справились с задачей</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="task-content" data-ng-class="{'active':activeTab == 'allTask'}" data-ng-if="activeTab == 'allTask'" id="all-task">
        <div class="container">
            <div class="task-day">
                <span class="day">09</span>
                <span class="month">фев</span>
            </div>
            <div class="all-task-wrap">
                <div class="task open">
                    <div class="to-do-time">9:00</div>
                    <div class="task-header flex-container">
                        <span class="icon icon-arrow"></span>
                        <div class="short-task-text">fdgdfgbfgdf</div>
                        <span class="icon icon-cancel"></span>
                    </div>
                    <div class="task-content-wrap">
                        <div class="time-row flex-container">
                            <div class="task-icon">
                                <span class="icon icon-time"></span>
                            </div>
                            <span class="time">9:00</span>
                            <div class="task-icon">
                                <span class="icon icon-bell"></span>
                            </div>
                        </div>
                        <div class="task-text-row flex-container">
                            <div class="task-icon">
                                <span class="icon icon-list"></span>
                            </div>
                            <div class="text">dskhfgdhs dsfdsfds</div>
                        </div>
                        <div class="task-check-row check-current flex-container">
                            <div class="task-icon">
                                <span class="icon icon-check"></span>
                            </div>
                            <div class="check">
                                <input type="checkbox" name="status" id="status">
                                <label for="status">Задача еще не выполнена</label>
                            </div>
                        </div>
                        <div class="task-edit-row flex-container">
                            <div class="task-icon">
                                <span class="icon icon-edit"></span>
                            </div>
                        </div>
                    </div>
                    <div class="task-message deadline">
                        <div class="message-row flex-container">
                            <div class="task-icon">
                                <span class="icon icon-warning"></span>
                            </div>
                            <div class="text">
                                <p>Вы не выполнили эту задачу</p>
                            </div>
                        </div>
                    </div>
                    <div class="task-message done">
                        <div class="message-row flex-container">
                            <div class="task-icon">
                                <span class="icon icon-star"></span>
                            </div>
                            <div class="text">
                                <p>Поздравляем!</p>
                                <p>Вы справились с задачей</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- MAIN END -->

<!--EDIT TASK START-->
<div class="overlay">
</div>
<div class="edit-task">
    <div class="container">
        <div class="title">
            <span>Новая задача</span>
        </div>
        <div class="input-group flex-container">
            <div class="task-bell">
                <div class="task-icon">
                    <span class="icon icon-bell"></span>
                </div>
                <span>Оповестить за</span>
            </div>
            <input type="time" name="task-time" id="task-time">
            <input type="date" name="task-date" id="task-date">
        </div>
        <div class="input-group">
            <div class="texarea-wrap">
                <textarea for="task-text"></textarea>
                <label>Ваша задача</label>
                <div class="symbol-count">
                    <span class="count">0</span>
                    <span class="max-count">/1000</span>
                </div>
            </div>
        </div>
        <div class="input-group">
            <button type="submit" class="add-task-btn">Добавить</button>
        </div>
    </div>
</div>
<!--EDIT TASK END-->

<!--jQuery-->
<script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/lodash/4.17.4/lodash.min.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="js/ctrl/baseCtrl.js"></script>
<!--<script src="js/plugin.js"></script>-->
</body>
</html>
